@model IEnumerable<SecureCloud.Models.SharedUserStoreViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Incoming</h2>


<table class="table">
    <tr>
        <th>
            File
        </th>

        <th>
            Type
        </th>
        <th>
            Shared On
        </th>
        <th>
            Shared By
        </th>
        <th style="text-align: right">
            Size
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.UserFileStore.FileStore.Name
            </td>
            <td>
                @item.UserFileStore.FileStore.Type
            </td>
            <td>
                @item.ShareFile.CreatedAt.ToString("dd MMM, yyyy")
            </td>
            <td>
                @item.UserFileStore.User.UserName
            </td>
            <td style="text-align: right">
                @item.UserFileStore.FileStore.SizeText
            </td>
            <td style="text-align:right">
                <a href="@Url.Action("Download", new { id = item.ShareFile.ID })" class="btn btn-sm btn-success">
                    <i class="glyphicon glyphicon-download-alt"></i> Download
                </a>
            </td>
        </tr>
    }

</table>
